<div class="question">
  <p> Question: <%= question.description %> </p>
  <p> Answers: </p>
  <ul>
    <% question.answers.each do |answer| %>
    <input type='radio' name='response<%= question.id %>' value='<%= answer.description %>'><%= answer.description %><br>
    <% end %></br>
  </ul>
</div>



