<div class="container">
  <form action="/<%= current_user.id %>/survey/new" method="POST" />
    Write a Survey Title:<br>
    <input name="new_survey[title]" type="text"><br>
    <input type="submit" value="Add">
  </form><br>


</div>
