<form id="survey_submit" action="/survey/<%= survey.id %>/stat" method="GET">
  <p> Survey Title: <%= survey.title %></p>
  <p> Created at: <%= survey.created_at %> </p>


  <div id="questions">
    <% survey.questions.each do |question| %>
      <%= erb :'survey/_show_each', locals: {question: question} %>
    <% end %>

  </div>

  <input type='submit'>
</form>
