<form action='#' method=''>
  <p> Survey Title: <%= survey.title %></p>
  <p> Created at: <%= survey.created_at %> </p>


  <div id="questions">
    <% survey.questions.each do |question| %>
      <%= erb :'survey/_show_each', locals: {question: question} %>
    <% end %>

  </div>

  <input id="survey_submit" type='submit'>
</form>
