body {
  margin-left: 1em;
  background: url("../img/lightpaperfibers.png");
}
.container {
  background: url("../img/gray_sand.png");
  margin: 20px auto;
  width: 60%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: #a5adb0;
  /*background: url('http://i.imgur.com/bBerK4K.png');*/
}
th {
  text-align: left;
}

li {
  list-style-type: none;

}

* {
  font-family: Lato;
}

a {
  text-decoration: none;
  color: #BF5FFF;
}

.container {
  color: #faebd7;
}