<div class="container">
  <% if @error %>
    <%= @error %>
  <% end %>
  <% if logged_in? %>
  <h2>Express Yourself:</h2>
    <form action="/entries/new" method="POST">
      <input type='hidden' name='entry[user_id]' value='<%= current_user.id %>'>
      <input type="text" name="entry[title]" placeholder="Title"><br>
      <input type="text" name="entry[post]" placeholder="Post"><br>
      <input type="text" name="tags[tag_names]" placeholder="Tags (separated by comma)"><br>
      <input type="submit">
    </form><br>
  <% end %><br>

  <h3><a href='/entries/all'>View all entries</a></h3>

  <h3> View by Tag:</h3>
  <% if @tags %>
  <ul>
    <% @tags.each do |tag| %>
      <li><a href="/entries/all/<%= tag.id %>"><%= tag.tag_name %></a></li>
    <% end %>
  </ul>
  <% end %>
</div>
