<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


  <title></title>
</head>
<body>
  <a href='/' style="color: black"><h1><em>Survey Busters</em></h1></a>
  <a href='/'>Home</a><br>
  <% if !logged_in? %>
    <a href='/signup'>Sign Up</a><br>
    <a href='/login'>Login</a><br>
  <% else %>
    <a href='/logout' method='POST'>Logout</a><br><br>
  <% end %>

  <%= yield %>

</body>
</html>
